.buttonText {
  position: relative;
  font-size: var(--font-xsm);
  font-weight: 600;
  font-family: var(--font-inter);
  color: inherit;
  text-align: center;
}

.tabButton {
  cursor: pointer;
  border: 0;
  opacity: 0.5;
  padding: 0 var(--pixel-15);
  background-color: transparent;
  border-radius: var(--pixel-10);
  height: var(--pixel-40);
  color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  transition: var(--transit);
}

.tabButton.active,
.tabButton:hover {
  opacity: 1;
  color: var(--color-primary);
}
