.aboutCount {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--pixel-30);
}

.asideImageIcon,
.contentImageIcon {
  border-radius: var(--pixel-15);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.contentImageIcon {
  flex: 1;
  height: var(--pixel-350);
  min-width: var(--pixel-300);
}

.asideImageIcon {
  align-self: stretch;
  height: var(--pixel-250);
  flex-shrink: 0;
}

.asideDesc {
  margin: 0;
  align-self: stretch;
  position: relative;
  line-height: 140%;
  font-weight: 500;
}

.aboutContent,
.contentAside {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--pixel-15);
}

.contentAside {
  flex: 1;
  border-radius: var(--pixel-20);
  flex-direction: column;
  min-width: var(--pixel-300);
  max-width: var(--pixel-400);
  text-align: left;
  font-size: var(--font-xsm);
  color: var(--color-secondary);
  font-family: var(--font-inter);
}

.aboutContent {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
}

@media screen and (max-width: 481px) {
  .contentAside {
    max-width: unset;
  }
}
