.featureGrid {
  align-self: stretch;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--pixel-400), 1fr));
  gap: var(--pixel-15);
}

@media screen and (max-width: 700px) {
  .featureGrid {
    grid-template-columns: repeat(auto-fill, minmax(var(--pixel-200), 1fr));
  }
}
