.sectionDesc,
.sectionTitle {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}

.sectionDesc {
  font-size: var(--font-sm);
  line-height: 140%;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-secondary);
}

.sectionHead {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--pixel-15);
  font-weight: 500;
  text-align: left;
  font-size: var(--font-lg);
  color: var(--color-primary);
  font-family: var(--font-jakarta);
}
